@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;

}

@layer base {
  * {
    font-family: "Lexend", "serif";
  }

  .gradient-bg {
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
  }
  .dark .gradient-bg {
    background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
  }
}


@layer components {
  /* Humburger Menu  */
  .hamburger{
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    transition: all .25s;
  }

  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    width: 24px;
    height: 2px;
    background-color: #000;
    @apply dark:bg-white/90;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0);
    transition: all .5s;
  }

  .hamburger-middle{
    transform: translateY(7px);
  }

  .hamburger-bottom{
    transform: translateY(14px);
  }

  .open{
    transform: rotate(90deg);
    transform: translateY(0px);
  }

  .open .hamburger-top{
    transform: rotate(45deg) translateX(6px) translateY(6px);
  }

  .open .hamburger-middle{
    display: none;
  }

  .open .hamburger-bottom{
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
  }

  .nav-link{
    transition: border-radius 0.3s ease-in-out;
  }

  .nav-link[data-active="true"]{
    @apply bg-gray-200/60 shadow-xs;
  }
  
  /* about page education items  */
  .educationItems .eduTitle .toggleSign::after{
    @apply text-white text-2xl content-['+'];
  }

  .educationItems .eduTitle.active .toggleSign::after{
    @apply text-white text-3xl content-['-'];
  }

  /* experiences page */
  .timeline-dot::before {
    content: '';
    left: -9px;
    top: 6px;
    @apply absolute w-4.5 h-4.5 border-2 border-gray-500/70 rounded-full dark:border-white/50;    
  }

  .timeline-line::after {
    content: '';
    bottom: -20px;
    @apply w-0.5 bg-gray-400/30 absolute left-0 top-6 dark:bg-gray-300/30;
  }

  
  
}

.seeMoreBtn:hover{
  @apply translate-x-0.5;
}

.seeMoreBtn:hover .arrow{
  @apply translate-x-2;
}

.skill-card:hover .skill-name {
  @apply opacity-100;
}

@variant dark (&:where(.dark, .dark *));